@import "tailwindcss";

:root {
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  max-width: 50vw;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  line-height: 1.15;
}

h1,
.serif {
  font-family: "Cormorant Garamond", Arial, "Times New Roman";
}

p,
.sans-serif {
  font-family: "DM Sans", Helvetica, sans-serif;
}

a {
  color: white;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
